@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
/* ------------------------- */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button {
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

/* Colors */
/* ------------------------------- */
body {
  margin: 0 auto;
  font-size: 0.9375rem;
  font-family: "Lexend Deca", sans-serif;
  background-color: hsl(0, 0%, 95%);
  color: hsla(0, 0%, 100%, 0.75);
}

h1 {
  font-family: "Big Shoulders Display";
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  font-weight: 700;
  font-size: 2.5rem;
}

p {
  margin-bottom: 1.875rem;
  line-height: 1.5rem;
}

button {
  background-color: hsl(0, 0%, 95%);
  color: hsl(31, 77%, 52%);
  padding: 1.125rem 2rem;
  border-radius: 1.875rem;
}

button:hover {
  background-color: transparent;
  border: 1px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

[class*=__container] {
  margin: 0 auto;
}

.main-section__icon {
  margin-bottom: 2.5rem;
  height: 2.625rem;
  width: 4rem;
}

.page {
  flex: 1 1 auto;
}

.page__main {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.page__main:first-child {
  margin-top: 5.5rem;
}

[class*=-main-section] {
  padding: 3rem 3.375rem 3rem 3rem;
  max-height: 29.25rem;
  max-width: 20.4375rem;
}

.first-main-section {
  background-color: hsl(31, 77%, 52%);
  border-radius: 0.625rem 0.625rem 0 0;
}

.second-main-section {
  background-color: hsl(184, 100%, 22%);
}
.second-main-section button {
  color: hsl(184, 100%, 22%);
}
.second-main-section button:hover {
  color: hsl(0, 0%, 95%);
}

.third-main-section {
  background-color: hsl(179, 100%, 13%);
  margin-bottom: 5rem;
  border-radius: 0 0 0.625rem 0.625rem;
}
.third-main-section button {
  color: hsl(179, 100%, 13%);
}
.third-main-section button:hover {
  color: hsl(0, 0%, 95%);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ------------------------------- */
@media (min-width: 61.9988em) {
  .page {
    display: flex;
    align-items: center;
  }
  .page__main {
    margin-left: 0;
    margin-right: 0;
  }
  [class*=-main-section] {
    max-width: 19.1875rem;
  }
  .page__main:first-child {
    margin-top: 0;
  }
  .first-main-section {
    border-radius: 0.625rem 0 0 0.625rem;
  }
  .third-main-section {
    margin-bottom: 0;
    border-radius: 0 0.625rem 0.625rem 0;
  }
}/*# sourceMappingURL=style.css.map */